In [17]:
import pandas as pd
import os
import plotly.plotly as py
import plotly.graph_objs as go
from pyecharts.charts import Line, Bar
from pyecharts import options as opts

In [18]:
os.chdir('C:/Users/guzhao/Documents/GitHub/Bike/')
df = pd.read_csv('NYC-CitiBike-2016.csv')
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,839,1/1/2016 00:09:55,1/1/2016 00:23:54,532,S 5 Pl & S 4 St,40.710451,-73.960876,401,Allen St & Rivington St,40.720196,-73.989978,17109,Customer,NaN,0
1,686,1/1/2016 00:21:17,1/1/2016 00:32:44,3143,5 Ave & E 78 St,40.776829,-73.963888,3132,E 59 St & Madison Ave,40.763505,-73.971092,23514,Subscriber,1960.0,1
2,315,1/1/2016 00:33:11,1/1/2016 00:38:26,3164,Columbus Ave & W 72 St,40.777057,-73.978985,3178,Riverside Dr & W 78 St,40.784145,-73.983625,14536,Subscriber,1971.0,1
3,739,1/1/2016 00:40:51,1/1/2016 00:53:11,223,W 13 St & 7 Ave,40.737815,-73.999947,276,Duane St & Greenwich St,40.717488,-74.010455,24062,Subscriber,1969.0,1
4,1253,1/1/2016 00:44:16,1/1/2016 01:05:09,484,W 44 St & 5 Ave,40.755003,-73.980144,151,Cleveland Pl & Spring St,40.722104,-73.997249,16380,Customer,NaN,0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276798 entries, 0 to 276797
Data columns (total 15 columns):
tripduration               276798 non-null int64
starttime                  276798 non-null object
stoptime                   276798 non-null object
start station id           276798 non-null int64
start station name         276798 non-null object
start station latitude     276798 non-null float64
start station longitude    276798 non-null float64
end station id             276798 non-null int64
end station name           276798 non-null object
end station latitude       276798 non-null float64
end station longitude      276798 non-null float64
bikeid                     276798 non-null int64
usertype                   276081 non-null object
birth year                 245137 non-null float64
gender                     276798 non-null int64
dtypes: float64(5), int64(5), object(5)
memory usage: 31.7+ MB

In [43]:
df_gender = df.groupby('gender').sum()

bar = (
    Bar()
    .add_xaxis(df_gender.index.tolist())
    .add_yaxis("gender", df_gender.tripduration.tolist())
    .set_global_opts(title_opts=opts.TitleOpts(title="gender/trip"))
)

bar.render_notebook()

In [16]:
df_gender = df.groupby('gender').sum()

bar = (
    Bar()
    .add_xaxis(df_gender.index.tolist())
    .add_yaxis("gender", df_gender.tripduration.tolist())
    .set_global_opts(title_opts=opts.TitleOpts(title="gender/trip"))
)
bar.render_notebook()

40451.764444444445

In [23]:
df.groupby('gender').sum()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year
gender,,,,,,,,,
0,61802041,41127785,1.317049e+06,-2.391909e+06,40723724,1.316921e+06,-2.391688e+06,658657709,1340300.0
1,145626352,189357544,7.523581e+06,-1.366386e+07,186436063,7.523517e+06,-1.366390e+07,3909002126,365151108.0
2,55185254,64748233,2.435475e+06,-4.423470e+06,63224686,2.435457e+06,-4.423492e+06,1249254556,118311964.0

In [29]:
df_gender.index

Int64Index([0, 1, 2], dtype='int64', name='gender')